.login-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 10%;
 text-decoration: none;
}

.greeting-message{
    font-family: "Nunito";
    font-size: 45px;
}

.auth-form{
    font-family: "Montserrat";
    font-size: 20px;
}

.username, .password{
    font-family: "Montserrat";
    width: 200pt;
    height: 20pt;
    font-size: 18px;
}

.auth-btns{
    display: flex;
    justify-content: center;
}

.sign-in, .sign-up{
    margin-top: 20pt;
    padding: 5pt;
    font-family: "Montserrat";
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

.sign-in{
    background: linear-gradient(to top, #8dc26f, #abe988);
    margin-right: 20%;
}
.sign-in:active{
    background: linear-gradient(to bottom, #8dc26f, #abe988);
}

.sign-up{
    background: linear-gradient(to top, #c2946f, #e9c288);
    margin-left: 20%;
}
.sign-up:active{
    background: linear-gradient(to bottom, #c2946f, #e9c288);
}