.chatting-space{
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
}

.chats-list-with-btn{
    width: 20%;
    padding: 0px 10px;
}

.chats-list-wrapper {
    display: flex;
    flex-direction: column;
}

.find-chat{
    padding: 5pt;
    font-family: "Montserrat";
    font-size: 12pt;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(241, 198, 137), antiquewhite);
}
.find-chat:active{
    background: linear-gradient(to bottom, rgb(241, 198, 137), antiquewhite);
}

.dialog {
    width: 70%;
    padding-right: 10px;
}