
.dialog-input {
    height: 20px;
    width: 65%;
    font-family: "Montserrat";
}

.dialog-title {
    font-family: "Nunito";
    margin: 0 10px;
}

.dialog-messages{
    max-height: 85vh;
    margin: 0 10px;
    overflow-y: scroll;
}

.dialog-submit {
    height: 25pt;
    font-family: "Montserrat";
    font-size: 15pt;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to top, #8dc26f, #abe988);
    margin-left: 10px;
}

.dialog-msg-input{
    margin-top: 10px;
}

.dialog-body{
    background-color: antiquewhite;
}